* {
    margin: 0px;
    box-sizing: border-box; /* boarder counts towards width */
    border: solid;
    border-color: red;
}

header
{
    height: 20%;
    background-color: green;

}

/* Hero styling */
#hero
{
    background-color: #1F2937;
    height: 60vh;
}

#website-goal-container
{
    height: 80%;
    background-color: red;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

#website-goal
{
    background-color: green;
    width: 70vw;
    height: 80%;
}



/* image section styling */
#image-section
{
    height: 50vh;
}

#image-section .title
{
    background-color: purple;

    /* center that tile */
    display: flex;
    justify-content: center; 
    align-items: center;

}

#image-section .title .title-text
{
    margin: 2% 0;
}

.card-wrapper
{
    display: flex;
    justify-content: center;
    column-gap: 10vw;
}
.card
{
    background-color: red;
    width: 10vw;
    height: 30vh;
}

.card .card-img-wrapper
{
    width: 10vw;
    height: 10vw;
    background-color: brown;
    display: flex;
    align-items: center;
}

.card-img-wrapper img
{
    width: 100%;
    height: auto;
    border: solid;
}

.card-text
{
    text-align: center;
}


/* quote styling */
#quote-box
{
    background-color: #E5E7EB;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-wrapper
{
    width: 50vw;
}

.credit
{
    text-align: right;

}

/* link section styling*/
#link-section
{
    background-color: #3882F6;
    height: 35vh;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.call-to-action
{
    background-color: green;
    height: 60%;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.action-text-wrapper
{
    width: 60%;
}

.action-text
{

}

.call-to-action button
{
    background-color: purple;
    border: none;
    height: 20%;
    padding-left: 2vw;
    padding-right: 2vw;
}



#footer
{
    background-color: #1F2937;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


